@use '@/styles/variables' as *;

.paginationController {
  width: 120px;
  aspect-ratio: 120/90;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  & > :last-child {
    transform: scaleX(-1);
  }
}

.button {
  width: 42%;
}
