@use '@/styles/variables' as *;
.container {

  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.swiper) {
  height: 140px;

  :global(.swiper-slide) {
    width: 300px;
    margin-right: $space-large;
  }

  :global(.swiper-wrapper){
    padding-inline: $space-large;
  }

  :global(.swiper-button-prev) {
    background: $secondary-white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    &:after {
      color: $color-accent;
      scale: 0.3;
    }
  }
  :global(.swiper-button-disabled) {
    opacity: 0 !important;
    &:after {
      opacity: 0 !important;
    }
  }

  :global(.swiper-button-next) {
    background: $secondary-white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    &:after {
      color: $color-accent;
      scale: 0.3;
    }
}
}


.eventContainer{
  display: flex;
  flex-direction: column;
}
.title {
  color: $color-accent;
  font-size: $font-size-medium;
  font-family: $font-family-accent;
  font-weight: $font-weight-base;
  margin-bottom: $space-small;
}
.description {
}

@media (max-width: 768px) {


  .container {
    font-size: $font-size-small;
  }

  :global(.swiper) {
    height: 140px;

    :global(.swiper-slide) {
      margin-right: $space-base;
      padding-top: $space-base;
      width: 170px;
    }

    :global(.swiper-wrapper){
      padding-inline: $space-base;
    }

    :global(.swiper-button-prev) {
      display: none;
    }

    :global(.swiper-button-next) {
      display: none;
    }
  }

  .eventContainer{
  }

  .title {
    display: inline-block;
  }
}
