@use '@/styles/variables' as *;
.container {

  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.swiper) {
    padding-inline: $space-large !important;
  height: 135px;

  :global(.swiper-slide) {
  }

  :global(.swiper-button-prev) {
    background: $secondary-white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    &:after {
      color: $color-accent;
      scale: 0.3;
    }
  }
  :global(.swiper-button-disabled) {
    opacity: 0 !important;
    &:after {
      opacity: 0 !important;
    }
  }

  :global(.swiper-button-next) {
    background: $secondary-white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    &:after {
      color: $color-accent;
      scale: 0.3;
    }
}
}

.title {
  color: $color-accent;
  font-size: $font-size-medium;
  font-family: $font-family-accent;
  font-weight: $font-weight-base;
  margin-bottom: $space-small;

}
